__pycache__/
*.pyc
*.dff
*.txd
*.log
*.spec
*.png
*.jpg
*build/
*dist/
*.zip
*.7zip
*.7z
*.rar
*.JPG

# Binarios compilados
*.exe
*.dll
*.so
*.dylib
*.bin
*.obj
*.o
*.class

# Archivos de proyecto temporales
*.log
*.tmp
*.cache
